<h3><%=@not_playing_name%> <%=$playing_now_attack %> </h3>
<h4><%=@not_playing_name%>: <%=@not_playing_fame_points%>fp</h4>
<h4><%=@playing_now_name%>: <%=@playing_now_fame_points%>fp</h4>


<form action="/switch">
<button type="submit" value="submit">Revenge!</button>
</form>
